<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/chatpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- dont need to say static/chatpage.js cause express looks 
        up files relative to static directory (given in server.js) -->
    <script src="chatpage.js"></script>
</head>


<body>

    <div id="entry_div">

        <h4>Enter Username:</h4>
        <input id="username_input" type="text">
        <button onclick="setUsername()">Submit</button>

    </div>

    <div id="chatpage_div" style="display: none;">

        <h2>chat page</h2>

    </div>

</body>


</html>